body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: #373A39;
}

.container {
  max-width: 1190px;
  padding: 0 10px;
  margin: 0 auto;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 75px;
  letter-spacing: -1.65px;
  color: #242121;
  padding-bottom: 18px;
  position: relative;
  align-self: flex-start;
}

.title::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 4px;
  background-color: #FCBB08;
  bottom: 0;
  left: 0;
}

a {
  text-decoration: none;
}

.header_top-inner {
  padding-bottom: 29px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.menu_list {
  display: flex;

}

.menu_list-item+.menu_list-item {
  margin-left: 32px;
}

.menu_list-link {
  padding: 0 9px 9px;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #373A39;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.6px;
  transition: all .5s;
}

.menu_list-link:hover {
  border-bottom: 1px solid #FCBB08;
}

.header_content {
  background-image: url('../images/header-bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  font-family: 'Montserrat', sans-serif;
}

.header_content-inner{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: calc(100vh - 93px);
}

.header_title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 72px;
  line-height: 88px;
  color: #FFFFFF;
  margin-top: auto;
  margin-bottom: 19px;
  padding-top: 130px;
}

.header_subtitle {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #FCBB08;
  letter-spacing: 2.74286px;
  margin-bottom: auto;
}

.header_icon {
  margin-bottom: 62px;
}

.about {
  background-color: #F6F8FA;
  padding: 150px 0 144px;
}

.about_inner {
  display: flex;
  justify-content: space-between;
}

.about_text p {
  max-width: 770px;
  margin-bottom: 16px;
}

.expertise {
  padding: 140px 0 160px;
}

.expertise_title {
margin-bottom: 90px;
}

.expertise_inner {
  display: flex;
  margin-bottom: 110px;
}

.expertise_info {
  width: 370px;
  margin-right: 30px;
  flex: none;
  margin-top: 10px;
}

.expertise_info-item {
  border-top: 2px solid #1D1D1D;
  padding: 2px 0 28px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 11px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #1D1D1D;
  position: relative;
}

.expertise_info-item span {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 7px;
}

.expertise_info-item span::before{
  content: "";
  position: absolute;
  height: 2px;
  background-color: #f0f0f0;
  right: -7px;
  top: -2px;
  width: 100%;
}

.expertise_text p {
  margin-bottom: 25px;
}

.expertise_items {
display: flex;
justify-content: space-between;
}

.expertise_item {
  width: 370px;
  padding-left: 85px;
  position: relative;
}

.expertise_item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
}

.expertise_item-design::before {
background-image: url('../images/vector.svg');
}
.expertise_item-dv::before {
background-image: url('../images/monitor.svg');
}
.expertise_item-marketing::before {
background-image: url('../images/speaker.svg');
}

.expertise_item-title {
  line-height: 20px;
  letter-spacing: 4.29px;
  color: #333;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.expertise_item-text {
  color: #777;
}

.magic {
  background-color: #F6F8FA;
  background-image: url(../images/magic-bg.jpg);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: left 82%; 
}

.magic_inner {
  max-width: 470px;
  margin-left: auto;
  padding: 100px 0 190px;
}

.magic_title {
  margin-bottom: 67px;
}

.magic_text {
  margin-bottom: 25px;
}