body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: #373A39;
}

.container {
  max-width: 1190px;
  padding: 0 10px;
  margin: 0 auto;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 75px;
  letter-spacing: -1.65px;
  color: #242121;
  padding-bottom: 18px;
  position: relative;
  align-self: flex-start;
}

.title::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 4px;
  background-color: #FCBB08;
  bottom: 0;
  left: 0;
}

a {
  text-decoration: none;
}

.header_top-inner {
  padding-bottom: 29px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.menu_list {
  display: flex;

}

.menu_list-item+.menu_list-item {
  margin-left: 32px;
}

.menu_list-link {
  padding: 0 9px 9px;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #373A39;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.6px;
  transition: all .5s;
}

.menu_list-link:hover {
  border-bottom: 1px solid #FCBB08;
}

.header_content {
  background-image: url('../images/header-bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  font-family: 'Montserrat', sans-serif;
}

.header_content-inner{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: calc(100vh - 93px);
}

.header_title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 72px;
  line-height: 88px;
  color: #FFFFFF;
  margin-top: auto;
  margin-bottom: 19px;
  padding-top: 130px;
}

.header_subtitle {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #FCBB08;
  letter-spacing: 2.74286px;
  margin-bottom: auto;
}

.header_icon {
  margin-bottom: 62px;
}

.about {
  background-color: #F6F8FA;
  padding: 150px 0 144px;
}

.about_inner {
  display: flex;
  justify-content: space-between;
}

.about_text p {
  max-width: 770px;
  margin-bottom: 16px;
}